@use "./variables.scss" as v;

.ide-component {
  height: min(75vh, 480px);
  width: min(90vw, 880px);
  font-family: v.$base-font;
  border-radius: calc(6 * v.$base-unit);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  line-height: 1.5;

  p,
  span {
    font-family: v.$base-font;
  }

  > .bar-ide-component {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(12 * v.$base-unit);
    overflow: scroll;

    > button {
      border-width: 0px;

      &.tab-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: calc(40 * v.$base-unit);
        padding-left: calc(4 * v.$base-unit);
        padding-right: calc(4 * v.$base-unit);

        > span.icon-logo {
          width: 18px;
          height: 18px;
        }

        &.active {
          border-bottom-width: 0px;
          border-top-width: 3px;
          border-top-color: rgb(59 130 246);
        }

        &:hover {
          border-bottom-width: 0px;
          cursor: pointer;
        }

        > :not([hidden]) ~ :not([hidden]) {
          margin-right: calc(2 * v.$base-unit);
          margin-left: calc(2 * v.$base-unit);
        }
      }
    }
  }

  > .body-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: calc(4 * v.$base-unit);
    overflow-y: scroll;
    cursor: text;
    > .content-editor {
      display: flex;
      flex-direction: row;
      position: relative;
      width: max-content;
      > :not([hidden]) ~ :not([hidden]) {
        margin-right: calc(2 * v.$base-unit);
        margin-left: calc(2 * v.$base-unit);
      }
      > .body-number-wrapper {
        display: flex;
        flex-direction: column;
        width: calc(6 * v.$base-unit);
        padding-left: calc(3 * v.$base-unit);
        padding-right: calc(3 * v.$base-unit);
        position: sticky;
        top: 0;
        left: 0;

        > .number-content-editor {
          > span {
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: end;
          }
        }
      }
      > .body-text-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: start;
        width: max-content;
        min-width: 100%;

        > .text-content-editor {
          > pre {
            padding: 0px !important;
            margin: 0px !important;
            background-color: transparent !important;
            width: max-content;
            min-width: 100%;
            > code {
              padding: 0px !important;
              background-color: transparent !important;
            }
          }
        }
      }
    }
  }
}
