@use './variables.scss' as v;

.ide-component {
  height: min(75vh, 480px);
  width: min(90vw, 880px);
  font-family: v.$base-font;
  background-color: v.$color-ide-dark-light;
  border-radius: calc(6 * v.$base-unit);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-width: 1px;
  border-color: v.$color-ide-dark-light;
  line-height: 1.5;

  // @media (min-width: v.$md-screen) {
  //   width: calc(220 * v.$base-unit);
  //   height: calc(120 * v.$base-unit);
  // }

  p, span {
    font-family: v.$base-font;
  }
  
  > .bar-ide-component {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(12 * v.$base-unit);
    overflow: scroll;
    background-color: v.$color-ide-dark;
    color: v.$color-ide-white;

    > button {
      border-width: 0px;

      &.tab-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: calc(40 * v.$base-unit);
        padding-left: calc(4 * v.$base-unit);
        padding-right: calc(4 * v.$base-unit);
        border-right-width: 0.5px;
        background-color: v.$color-ide-dark;
        border-color: v.$color-ide-dark;
        color: v.$color-ide-white;

        &.active {
          background-color: v.$color-ide-dark-light;
          border-bottom-width: 0px;
          border-top-width: 3px;
          border-top-color: rgb(59 130 246);
        }

        &:hover {
          background-color: v.$color-ide-dark-light;
          border-bottom-width: 0px;
          cursor: pointer;
        }

        > :not([hidden]) ~ :not([hidden]) {
          margin-right: calc(2 * v.$base-unit);
          margin-left: calc(2 * v.$base-unit);
        }
      }
    }
  }

  > .body-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: calc(4 * v.$base-unit);
    color: v.$color-ide-white;
    overflow-y: scroll;
    cursor: text;
    > .content-editor {
      display: flex;
      flex-direction: row;
      position: relative;
      width: max-content;
      > :not([hidden]) ~ :not([hidden]) {
        margin-right: calc(2 * v.$base-unit);
        margin-left: calc(2 * v.$base-unit);
      }
      > .number-content-editor {
        display: flex;
        flex-direction: row;
        width: calc(6 * v.$base-unit);
        padding-left: calc(3 * v.$base-unit);
        padding-right: calc(3 * v.$base-unit);
        background-color: v.$color-ide-dark-light;
        > span {
          display: flex;
          flex: 1;
          flex-direction: row;
          justify-content: end;
        }
      }
      > .text-content-editor {
        display: flex;
        flex-direction: row;
        flex: 1;
        > pre {
          padding: 0px !important;
          margin: 0px !important;
          background-color: transparent !important;
          > code {
            padding: 0px !important;
            background-color: transparent !important;
          }
        }
      }
    }
  }
}
