@use './variables.scss' as v;

div.iphonex-device {
  position: relative;
  z-index: 2;
  // aspect-ratio: ;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 512px;
  width: 240px;
  box-sizing: border-box;
  border-width: 15px;
  border-color: v.$iphone-color;
  border-style: solid;
  border-radius: 32px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background-color: transparent;

  >span.notch-iphone-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: v.$iphone-color;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 22px;

    >div.statusbar-iphone-wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 100%;
      width: 100%;
    
      >.statusbar-iphone {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    
    div.notch-iphone-bar {
      height: 15px;
      width: 100px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      background-color: v.$iphone-color;
    }
  }
  span.bottom-bar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: transparent;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));

    >.bottom-bar{
      background-color: v.$iphone-color;
      height: 5px;
      width: 50%;
      border-radius: 8px;
    }
  }
}
