$color-ide-dark-light: #222A2E;
$color-ide-dark: #1A2023;
$color-ide-white: #F4F4F4;

$sm-screen: 640px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;
$xxl-screen: 1536px;

$base-unit: 4px;
// @function base-px-unit($num) { @return ($num * 4); };
