$color-ide-darken: #1a2023;
$color-ide-dark: #222a2e;
$ide-base-font-dark: #f4f4f4;

$color-ide-lighten: #ffffff;
$color-ide-light: #f4f4f4;
$ide-base-font-light: #222a2e;

$sm-screen: 640px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;
$xxl-screen: 1536px;

$base-unit: 4px;

$base-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
  monospace;
$iphone-color: black;
